S3method(print, unirel)
S3method(print, alpha)
S3method(print, mu2)
S3method(print, feldt)
S3method(print, gilmer)
S3method(print, joreskog)
export(alpha)
export(feldt)
export(gilmer)
export(joreskog)
export(mu2)
export(unirel)
import(Rcsdp)
