S3method(print, unirel)
S3method(print, alpha)
S3method(print, mu2)
S3method(print, mu3)
S3method(print, mu4)
S3method(print, feldt)
S3method(print, gilmer)
S3method(print, joreskog)
S3method(print, hancock)
S3method(print, heise)
S3method(print, kaisercaffrey)
export(alpha)
export(feldt)
export(gilmer)
export(joreskog)
export(hancock)
export(heise)
export(kaisercaffrey)
export(mu2)
export(mu3)
export(mu4)
export(unirel)
export(test.tauequivalence)
import(Rcsdp)
